body.dark {
  background-color: #212428;
}

.dark p {
  color: #ffffff;
}

.dark a {
  color: #ffffff;
}

.dark a:hover {
  color: #7ba2f7;
  text-decoration-color: #7ba2f7;
}

.dark .logo {
  color: #ffffff;
}

.dark h1 {
  color: #ffffff;
}

.dark h3 {
  color: #ffffff;
}

.dark footer {
  background-color: #121212;
}

.dark .text-about {
  color: rgb(255, 255, 255);
}

.dark .text-about2 {
  color: #ffffff;
}

.dark .row {
  color: #ffffff;
}

.dark .row2 {
  color: #ffffff;
}

.dark .p-skill {
  color: #ffffff;
}

.dark .title-project {
  color: #7ba2f7;
}

.dark .profile-pic2 {
  box-shadow: 0 2px 3px #111111;
}

.dark .about-container1 {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .about-container2 {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .container2 {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .conteudo_frontend {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .container-div1 {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .container-div2 {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .container-div3 {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .container-div4 {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .container-div5 {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .container-div6 {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .card-details {
  background-color: #121212;
  box-shadow: 0 2px 3px #111111;
}

.dark .btn-project {
  color: #7ba2f7;
  border: 1px solid #7ba2f7;
}

.dark .btn-project:hover {
  color: #ffffff;
  background-color: #7ba2f7;
}

.dark .bar {
  border: 1px solid #121212;
}

.dark .btn {
  color: white;
  background-color: transparent;
  border: #ffffff solid 2px;
}

.dark .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.dark .btn2 {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  border: #ffffff solid 2px;
}

.dark .btn2:hover {
  color: #ffffff;
  background-color: transparent;
  border: #ffffff solid 2px;
}

.dark .contact-icon {
  fill: #ffffff;
}

.dark path {
  fill: #ffffff;
}

.dark .github {
  fill: #ffffff;
}

.dark .menu-links a{
  color: #ffffff;
  
}

.dark .menu-links a:hover{
  color: #7ba2f7;
}

.dark .menu-links {
  background-color: #121212;
  box-shadow: 0px 0px 36px 9px rgba(97, 97, 97, 0.1);
}

.dark .hamburger-icon span {
  background-color: #ffffff;
}